<div id="top" class="header">
  <div class="vert-text">
      <img src="{{ 'logo-2.png' | theme_image_url }}" alt="Daniel and Kayla" />
  </div>
</div>

<!-- Intro -->
<div id="about" class="intro slide">
    <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h2>Welcome!</h2>  
            <hr>
          </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-2">
              <p class="image"><img src="{{ './photos/kiss.jpg' | theme_image_url }}" alt="Daniel and Kayla" /></p>
            </div>
            <div class="col-md-5">
              <p class="lead">Welcome to our wedding website and for the technologically challenged guests, congratulations for making it this far!</p>
              <p>We are hoping that this website will be able to provide everyone with all of the necessary information, as well as allow them to RSVP.</p>
              <p>After many long, detailed and sometimes arduous conversations we have decided that while we highly value some traditional aspects of the North American wedding, we would also like to shake things up a bit. Meals, registry and even favours are going to be done a little differently than the norm, but we hope to provide an explanation for why we have chosen to do things in this way. The most important thing to Daniel and I is that we are able to spend the day with the people we love, the people who have supported us through our relationship and who have helped us grow into the quasi adults we have become today… and also that we end up married at the end of the day.</p>
              <p>Below, you will be able to find information about the venue (including hotels and campsites nearby), the program, what we have chosen to do with the favours and registry, as well as a section to RSVP!</p>
              <p>Happy browsing, and try not to become too overwhelmed by the incandescence of our eternal love.</p>
            </div>
        </div>
    </div>
</div>
<!-- /Intro -->

<div id="what" class="services slide">
  <div class="container">
      <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
              <h2>What you need to know</h2>
              <hr>
          </div>
      </div>
      <div class="row">
          <div class="col-md-2 col-md-offset-2 text-center">
              <div class="service-item">
                  <i class="service-icon fa fa-cutlery"></i>
                  <h4>Potluck (ish)</h4>
                  <p>If you have got the time or the talent, we would love it if you would bring some finger food to share! It doesn't have to be elaborate. There is a large fridge, but no oven. Let us know what you would like to bring when you RSVP!</p>
              </div>
          </div>
          <div class="col-md-2 text-center">
              <div class="service-item">
                  <i class="service-icon fa fa-tie"></i>
                  <h4>Formal/Casual Attire</h4>
                  <p>This is really just a way of saying come in what you are comfortable wearing. You will not be sent home for wearing jeans.</p>
              </div>
          </div>
          <div class="col-md-2 text-center">
              <div class="service-item">
                  <i class="service-icon fa fa-pig"></i>
                  <h4>Pig Roast</h4>
                  <p>Enough said. (Vegetarian options available)</p>
              </div>
          </div>
          <div class="col-md-2 text-center">
              <div class="service-item">
                  <i class="service-icon fa fa-cards"></i>
                  <h4>Activites!</h4>
                  <p>While you are waiting for the wedding party to take pictures there will be activities available on the property! Board Games, Lawn games, and exploring the orchard are all options.</p>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="well">
            <h4>Note regarding alcohol</h4>
            <p>Wine will be served with dinner, but there will be no bar. Unfortunately due to liability issues we also have to ask that people not bring their own alcohol on the property. Thank you all for your understanding.</p>
          </div>
        </div>
      </div>
  </div>
</div>

<div id="program" class="slide">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>Program</h2>  
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-2">
        <table class="table">
        <tbody>
        <tr>
        <td>3pm</td>
        <td>Ceremony</td>
        </tr>
        <tr>
        <td>3:30pm - 5:30pm</td>
        <td>Snacks, lawn games, euchre and crokinole tournaments, and photos</td>
        </tr>
        <tr>
        <td>6pm</td>
        <td>Dinner</td>
        </tr>
        <tr>
        <td>7pm</td>
        <td>Speeches and Cutting (and serving) of the pie!</td>
        </tr>
        <tr>
        <td>8:30pm</td>
        <td>The dance party starts!</td>
        </tr>
        </tbody>
        </table>
      </div>
      <div class="col-md-3">
        <p class="image"><img src="{{ './photos/photo-near-wine.jpg' | theme_image_url }}" alt="Daniel and Kayla" /></p>
      </div>
    </div>
  </div>
</div>

<div id="venue" class="slide">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="box">
          <h2>Venue</h2>
          <p>Both the ceremony and reception will be held at Belle Vue Terrasse which is located in Egbert, Ontario. The barn address is number 5934 on the 8th line. We are uncertain whether the ceremony will take place outdoors at this time, but it will probably be a good idea to wear comfortable footwear no matter what.</p>
          <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d366376.2029584415!2d-79.83723980474987!3d44.159385522921674!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882aeaef60cd7cbd%3A0x7329284e90c44ae0!2s5934+8+Line!5e0!3m2!1sen!2sca!4v1402674306611&amp;t=m&amp;z=5&amp;iwloc=A&amp;output=embed"></iframe>
            <br />
            <small>
                <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
            </small>
          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="accomodations" class="intro slide">
  <div class="container">
      <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h2>Accomodations</h2>
            <h3>Hotels:</h3>
            <ul>
              <li><a href="http://www.choicehotels.ca/en/comfort-inn-&amp;-suites-barrie-hotel-cn191">Comfort Inn and Suites</a></li>
              <li><a href="http://www.ihg.com/holidayinnexpress/hotels/us/en/barrie/yrrmp/hoteldetail">Holiday Inn Express &amp; Suites Barrie</a></li>
              <li><a href="http://www.super8.com/hotels/ontario/barrie/super-8-barrie/hotel-overview">Super 8 Barrie</a></li>
              <li><a href="http://hamptoninn3.hilton.com/en/hotels/ontario/hampton-inn-and-suites-by-hilton-barrie-ONTBRHX/index.html">Hampton Inn &amp; suites</a></li>
              <li><a href="http://book.bestwestern.com/bestwestern/CA/ON/Barrie-hotels/BEST-WESTERN-Royal-Oak-Inn/Hotel-Overview.do?propertyCode=66053">Best Western Royal Oak Inn</a></li>
              <li><a href="http://www.nottawasagaresort.com/">Nottawasaga Inn and Conference Centre</a></li>
              <li><a href="http://www.victoriainn.info/index1.asp">Victoria Inn Alliston</a></li>
            </ul>
            <h3>Bed and Breakfasts:</h3>
            <ul>
              <li><a href="http://www.recommendedinns.com/ca/caid_344281.html">Bona Vista Spa and B&amp;B in Egbert</a></li>
              <li><a href="http://www.bbcanada.com/barriecountryinn">Country Inn Barrie in Thornton</a></li>
              <li><a href="http://www.valentinebandb.com/">Valentine B&amp;B Alliston</a></li>
            </ul>          
            <h3>Camping!</h3> 
            <ul>
              <li><a href="https://koa.com/campgrounds/barrie/reserve?ifv=1">KOA Barrie</a></li>
              <li><a href="http://www.cedarparkcampgrounds.com/Contact.html">Cedar Park Campgrounds</a></li>
              <li><a href="http://www.campscout.com/campground/ON0227/">Bee Happy Family Campground</a></li>
              <li>Also <a href="http://www.campscout.com/town/ON0041/">this site</a> looks like it has good information for campgrounds in the area</li>
            </ul>
          </div>
      </div>
  </div>
</div>


<div id="favours" class="slide red">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>Favours</h2>
        <p class="lead">Instead of giving out favours we have decided to donate the money we would have spent to <i>Raise and Support the Poor</i>.</p>
        <p>RSP is a non-governmental organization in Cambodia. In 2012 I had the opportunity to travel to Cambodia and work with Sareth Brak, the Buddhist monk who runs the program. We spent two weeks in the village where Sareth lives and helped construct the second floor of the library for the local school. I learned many new skills in those two weeks, like how to bend wire for concrete posts while avoiding being eaten alive by the red ants who live in the bending block, or how to catch bricks as they are being tossed from the ground; after first being checked for lizards and snakes. However, I would say the most valuable thing I took from the experience was seeing a functional NGO that produced significant results and really made the most of the funding they received. Sareth’s commitment to the community was pretty darn inspiring, and I fully trust him to allocate the money to whatever area of the organization he thinks needs it most. So I can’t promise you that the money will buy new bikes for the kids in the village, or will pay for the concrete used in the construction of the new kitchen. It might go toward paying very boring and unromantic administrative costs. But wherever it ends up, it will be money well spent, and I thank you in advance for the favour you gave up to make the donation possible!</p>
        <h3>Sareth’s response:</h3>
        <blockquote>Hello Kayla,   It is nice to hear from you and thank you for your kind email. Of course, I remembered you that you and your team (Shannon, Sarah, Mo, Leslie, Katie, Candace....) have come to Cambodia since 2012. And your team have done great work building library project. The library is completed and we now open for everyone, it is very important.   Sound wonderful, you are going to get marriage in September, it is good news. On behalf of children and RSP's staffs and I would like to congratulate to both of you and we wish you all the best wishes. May your wonderful wedding bring a great happiness.   We would like to welcome to your donation to support RSP's project and we will use your donation to purchase reading books and notebooks, pens, color pencils, paper, chair, computer and other supplies in order to use in RSP's library. Thank you so much for your sponsor.   I am fine, my family and children are fine too. I will tell them about you and your wedding. They will be happy to hear from you as well.   I hope you and your family are doing fine, and you well prepare for your wonderful wedding.
        Kind regards, <cite>Sareth</cite></blockquote>
      </div>
    </div>
  </div>
</div>

<div id="registry" class="slide">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>Registry</h2>
        <p>After much deliberation, we have decided not to register with any stores. Realistically, because we will both be going back to school in the fall, what we need more than anything else is money to pay for tuition. I know the idea of giving money is not very exciting or romantic, but Daniel and I are both boring and practical people, who love the idea of having needs met before wants (perhaps and I am just a little bit more boring and practical). So if you fall in the group of people who are comfortable giving money, that is much appreciated. However, if you find that you have just turned purple in the face by the utter and complete rudeness of what we just asked, and are now contemplating whether you will even be coming to the wedding at all, first, please, take three deep breaths. Second, know that we would rather have you at the wedding and happy than not at all, so don’t worry about money or gifts and just bring your wonderful self! And remember, keep breathing! If however, you find yourself in a third group, where you are not exactly purple and horrified, but feel disappointed in not being able to give gifts (which I understand is a very important love language), then we have created a registry of sorts online. It is basically a collection of a bunch of things that we think we will want/need. We aren't very picky about the specifics, so we would love it if you could find the best deal! Awesome finds on Kijiji and in thrift stores are also much appreciated.</p>
        <p class="text-center"><a href="http://www.myregistry.com/wedding-registry/Daniel-Robinson-Kayla-Riske-Guelph-Ontario/684274" class="btn btn-lg btn-primary">See our Registry</a></p>
      </div>
    </div>
  </div>
</div>

<div id="final-note" class="slide">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="box">
          <h2>Final Note</h2>
          <p>I know the writing on the website has been a little dry and sarcastic throughout, this is my first time writing something for more than just my T.A. or professor, and I can get a little cynical when I&rsquo;m nervous. But in all seriousness, we are so excited to spend and share this day with all of you. I love a good story with an interesting plot and dynamic characters. And while Daniel and I might be the main protagonists of this particular narrative, each and every one of you has played a part in filling in the gaps, in making it an unpredictable and exciting adventure, that above all, is a story about love. I think Daniel would agree that we would not be capable of loving each other half as well, if we weren&rsquo;t first supported and loved by so many of you. Thank you for the part you played in making our story a great one.</p>
          <p class="image"><img src="{{ 'ring.jpg' | theme_image_url }}" alt="Daniel and Kayla" /></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="rsvp" class="slide blue">
  <div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
            <h2>RSVP</h2>
            <hr>
        </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p>This is the part of the website where you can respond to let us know if you are coming! We are also hoping to have a few people bring finger food for people to enjoy before dinner and during the dance party. If this sounds like your kind of thing then please let us know what you would like to contribute!</p>
        <p class="text-center"><a class="btn btn-lg btn-success" href="http://kaylaanddaniel.anrsvp.com/">RSVP Now</a></p>
        <p class="image"><img src="{{ './photos/backpack-lookout-horizontal.jpg' | theme_image_url }}" alt="Daniel and Kayla" /></p>
        <p class="text-center"><small><em>We are excited to begin this new adventure. We hope you can join us!</em></small></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>
